<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog - rejestracja</title>
</head>
<body>
<h1>Zarejestruj się</h1>
<form th:action="@{/register}" method="post">
    <div>
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="confirmPassword">Powtórz hasło:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <div>
        <button type="submit">Zarejestruj się</button>
    </div>
</form>
<p>Masz już konto?<a th:href="@{/login}">Zaloguj się</a></p>
</body>
</html>