<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tytul posta</title>
</head>
<body>

    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.content}"></p>

    <h3>Komentarze:</h3>
    <div th:each="comment : ${post.comments}">
      <p th:text="${comment.content}"></p>
    </div>

    <h4>Dodaj komentarz:</h4>
    <form action="#" th:action="@{/posts/{id}/comments(id=${post.id})}" method="post" th:object="${comment}">
      <textarea th:field="*{content}" required></textarea>
      <button type="submit">Dodaj</button>
    </form>

</body>
</html>